<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="shortcut icon" href="{{ url_for('home.static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('counter.static', filename=('css/counter.css')) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" >

</head>
{% if true %}
<body>
    <div id="body">
        <div id="header">
            <div class="titles">
                <div class="flex-left">
                  <a class="home" href="{{ url_for('home.home_page') }}"><h2 class="h2">Sentinel<br></a><span class="mini-title">COUNTER</span></h2>
                    
                </div>

                <div id="control">
                  <a><button type="button" class="button" data-toggle="modal" data-target="#addChannelModal"  data-id="{{ usd }}">
                      Add Channel
                    </button></a>
              </div>

                <div class="flex-right">
                  {% if session['username'] %}
                  <a href=""><h4 class="h4 username">| | {{ session['username'] }}</h4></a>
                  {% else %}
                      <a href=""><h4 class="h4 username">| | Stranger</h4></a>
                  {% endif %}
                </div>
            </div>
            
            
            
        </div>
        <div id="mainbody">
            <div class="flexcon" id="flexcon">
              
              {% for item in mainlist %}

              <div class="sourcebar">
                <img id="{{ item['name'] }}" src="{{ url_for('counter.video_feed', channel=item['name'], url=item['url'], cc=item['cc'], usd=item['usd']) }}" >
                  
                  <div>
                      <div class="scontrols">
                          <div class="flex-left">
                            <h4 id="channel-name" class="h4">{{ item['name'] }}</h4>
                          </div>
                          
                          <div class="flex-right">
                              <a href="#actionsModal" id="open-actions-modal" data-toggle="modal" data-target="#actionsModal" 
                              data-id="{{ usd }}" data-name="{{ item['name'] }}" data-url="{{ item['url'] }}" data-cc="{{ item['cc'] }}"> 
                              <i class="material-icons md-18 action-icon">settings_applications</i> 
                              </a>

                          </div>
                          
                      </div>
                  </div>
              </div>
              {% endfor %}

            </div>
        </div>

        <!-- Modal Add Channel----------------------START--->
        <div class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="/add_channel_counter" method="POST">
                    <div class="modal-body">
                      <input type="text" class="form-control invincible" id="channel-user-id" name="channel-user-id">
                        <div class="form-group">
                          <label for="channel-name" class="col-form-label">Channel Name</label>
                          <input type="text" class="form-control" id="channel-name" name="channel-name">
                        </div>
                        <div class="form-group">
                            <label for="channel-url" class="col-form-label">Channel Url</label>
                            <input type="text" class="form-control" id="channel-url" name="channel-url">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" name="cc-checkbox" id="cc-checkbox" value="1">
                          <label class="form-check-label" for="cc-checkbox">Start Counting Immediately</label>
                        </div>
                        <br>
                      </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Add</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <!-- Modal Add Channel----------------------END--->

        <!-- Modal Actions-----------------------START-->

        <div class="modal fade" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="actions-modal-title">Title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                    
                    <form action="/update_channel_counter" method="POST">
                      
                      <div class="form-group">
                        <input type="text" class="form-control invincible" id="channel-old-name-edit" name="channel-old-name-edit">
                        <input type="text" class="form-control invincible" id="user-id" name="user-id">
                        <label for="channel-name-edit" class="col-form-label">Edit Name</label>
                        <input type="text" class="form-control" id="channel-name-edit" name="channel-name-edit">
                        <label for="channel-url-edit" class="col-form-label">Edit Url</label>
                        <input type="text" class="form-control" id="channel-url-edit" name="channel-url-edit">
                        <br>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" name="cc-checkbox-edit" id="cc-checkbox-edit"  value="1">
                          <label class="form-check-label" for="cc-checkbox-edit">Count</label>
                        </div>
                    </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <br>
                          
                      </form>
                      <form action="/delete_channel_counter" method="POST">
                        <button type="submit" class="btn btn-primary btn-sm btn-block" id="delete-channel">Delete</button>
                        <input type="text" class="form-control invincible" id="delete-name" name="delete-name">
                        <input type="text" class="form-control invincible" id="delete-user-id" name="delete-user-id">
                        </form>

                      <div>
                          <button type="button" class="btn btn-primary btn-sm btn-block">Run In Background</button>
                      </div>
                    
                </div>
                <!-- Footer goes here -->
              </div>
            </div>
          </div>

        <!-- Modal Actions----------------------END--->
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- Actions Modal ------------------>
    <script type="text/javascript">

        // Actions Modal Values
        $('#actionsModal').on('show.bs.modal', function(e) {
            //get data-name attribute of the clicked element
            var id = $(e.relatedTarget).data('id');
            var name = $(e.relatedTarget).data('name');
            var url = $(e.relatedTarget).data('url');
            var cc = $(e.relatedTarget).data('cc');
        
            //fill the values
            $(e.currentTarget).find('#actions-modal-title').text(name);
            $(e.currentTarget).find('#user-id').val(id);
            $(e.currentTarget).find('#delete-name').val(name);
            $(e.currentTarget).find('#delete-user-id').val(id);
            $(e.currentTarget).find('#channel-name-edit').val(name);
            $(e.currentTarget).find('#channel-old-name-edit').val(name);
            $(e.currentTarget).find('#channel-url-edit').val(url);
            if(cc=='True'){
              $(e.currentTarget).find('#cc-checkbox-edit').prop("checked", true);
            } else{
              $(e.currentTarget).find('#cc-checkbox-edit').prop("checked", false);
            }

        });

        // Add Channel Modal Values
        $('#addChannelModal').on('show.bs.modal', function(e) {

          var id = $(e.relatedTarget).data('id');
          
          $(e.currentTarget).find('#channel-user-id').val(id);

      });

    </script>

</body>

{% endif %}

</html>